@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* ---Fonts */
  --font-clicker: "Clicker Script", cursive;
  --font-playfair: "Playfair Display", serif;

  /* ---Colors */
  --color-theme: #f9c06a;
  --color-cofee: #603809;
  --color-text-black: #1e1e1e;
  --color-secoundary-text: #707070;
  --color-pink-bg: #fef9f1;
}
